/.vscode
/__pycache__
/bin
/dictionary
/include
/lib
/share
/test_jsons
pyvenv.cfg
google_keys.json 
google_keys2.json 
parameters.py
plan.txt
set_webhook.py
source_code
create_zip.sh
console_bot.py
db_operations.ipynb
gcloud_function_key.json
google_cloud_key.json
